/* global style sheet */

/* Set whole site box sizing rules */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* ------- Landing Page Styles ------- */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
}

p {
    font-size: 18px;
}

.constrain {
    /* adds width constraint to sections and horizontally centers on page */
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ------- Header Section ------- */
.header {
    background-color: #1F2937;
    padding: 18px 0;
}

.navbar {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

nav {
    margin-left: auto; /* push nav links to the right side of the page */
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

/* ------- Hero Section ------- */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding-bottom: 30px;
}

.sidecar {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 50px 0;

    & .text, & .image-placeholder {
        flex: 1;
    }

    & h1 {
        margin: 0;
    }

    & p {
        color: #E5E7EB;
    }
}

.image-placeholder {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.button {
    padding: 7px 35px;
    color: #F9FAF8;
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    border: 2px solid #3882F6;
    border-radius: 7px;
    background-color: #E5E7EB;
    color: #3882F6;
    font-weight: 700;
    margin-left: -2px;
}

/* ------- Information Section ------- */
.info {
    background-color: #F9FAF8;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 50px 0;

    & h2 {
        margin: 0;
    }
}

.info-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    flex: 0 1 170px;

    & p {
        color: #414853;
        text-align: center;
    }
}

.card-img {
    width: 164px;
    height: 164px;
    border: 3px solid #3882F6;
    border-radius: 18px;
}